#game > button { background-color: #06bb06; }
#game > #round-info { display: flex; }
#turn-info { display: flex; margin-top: 20px; }
#phrase-area { margin-top: 20px; }
.team-container > p { text-align: center; }
.team-container {
    margin-top: 5px;
    min-height: 50px;
    vertical-align: 50px;
    min-width: 150px;
    border: solid 1px black;
    background-color: white;
}



#red-team { background-color: #f70d2d; }
#blue-team { background-color: #80c5ff; }
.clue-giver { font-weight: bold; }