#phrase-area { margin-top: 20px; }
.team-container > p { text-align: center; }
.team-container {
    margin-top: 5px;
    min-height: 75px;
    vertical-align: 50px;
    min-width: 150px;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
}
#game-play-container { padding-top: 2em; }
#game-controls-container > .model-content { max-width: 380px; }
#show-phrase-button, #correct-button, #next-round-button { background: #5cb85c; }

.team-banner > h3 { display: inline }
.team-banner > form { display: inline }
.team-banner > button { margin-left: 5px; }

#red-team { background-color: #ff435c; }
#blue-team { background-color: #80c5ff; }
.clue-giver { font-weight: bold; }