#join-game {text-align: center; }
#join-game > h1 { margin: 10px; }

#join-form-container {
    border: 1px solid gray;
    padding: 10px;
    width: fit-content;
    margin: auto;
}
#join-form { display: flex; }

#join-labels > label {
    display: block;
    text-align: right;
    margin: 5px;
    height: 20px;
    line-height: 20px;
}

#join-input > input {
    display: block;
    margin: 5px;
    height: 20px;
    line-height: 20px;
}
