/* 
COLOR_GREEN: #06bb06
COLOR_BLUE: #048cff
COLOR_LIGHT_BLUE: #80c5ff
COLOR_RED: #ff435c
06bb06
*/
#lobby-title { margin-top: 10%; margin-bottom: 20px;}
#join-form-container { max-width: 540px; }
#ready-container { text-align: center; }
.readied { background-color: #03a70391 }
#start-game-button { background-color: #03a70391; }
#leave-room { background-color: #ff435c; }
#how-to-play { background-color: #80c5ff; margin-left: auto; }
#phrase-input { width: initial; display: initial;}
#phrase-form { margin: 10px;}
#phrases-added { width: fit-content; margin: auto; margin-top: 10px; list-style: none }
#phrases-added > li { text-align: right; margin: 5px 5px; font-size: 1.2em; }
.remove-phrase { min-width: fit-content; padding: 0px 4px; }
#phrases-added > li > p { display: inline; margin-right: 3px; }