/* 
COLOR_GREEN: #06bb06
COLOR_BLUE: #048cff
COLOR_RED: #f70d2d
COLOR_LIGHT_BLUE: #80c5ff
*/

body { padding: 10px 20px; }
button {
    min-width: 70px;
    min-height: 20px;
    padding: 3px 5px;
    border-radius: 3px;
}
button.btn-small { min-width: fit-content; padding: 0px 3px;}
button.unclickable { opacity: 0.5; }
#join-form-container {
    max-width: 540px; 
}

.centered { text-align: center; }
.middle { flex: auto; text-align: center; }
.right-justified { margin-left: auto; }

.red-text { color: #ff435c; }
.blue-text { color: #048cff; }